.nav-container{
    font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
    max-width: 1002px;
    box-shadow: 0px 0px 8px #ddd;
}

.logo-img{
  width: 177px;
  margin-right: 42px;
}

.logo-img:hover{
cursor:pointer;
}

.navBar-inner-container{
  width: 1002px;
  display: flex;
    margin-top: 14px;
    align-items: center;
}

.results-container{
  display: flex;
  flex-direction: column;
  align-items: center;
    margin-right: 364px;
}

.profile-dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0e2929;
    border-radius: 10px;
    height: 280px;
    padding: 4px;
    text-shadow:
      2px 2px 0 black,
      2px 2px 4px gold;
      color:white;
      box-shadow: 0px 0px 8px #ddd;
      top:61px;
      max-width: 176px;
}


.profile-dropdown.hidden {
  display: none;
}

.prof-button {
  margin-right: 76px;
  margin-top: 7px;
}

.prof-button1 {
  margin-top: 4px;
  margin-left: 49px;
}

.prof-container{
  margin-top: 9px;
}

.prof-container button {
  font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
  background-color: transparent;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
  border:none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #ddd;
  text-shadow:
      2px 2px 0 black,
      2px 2px 4px gold;
      color:white;
}

.prof-container button:hover {
  cursor: pointer;
}

.not-logged-in{
  display: flex;
  flex-direction: column;
}

.prof-dets {
  margin-top: 3px;
  margin-bottom: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
}

.prof-dets1 {
  margin-left: 16px;
    margin-bottom: 66px;
    margin-top: -3px;
    margin-right: -15px;
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.nav-h3{
  padding-right: 276px;
    font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
    font-weight: bold;
    padding-left: 154px;
    margin-left: 61px;
    text-shadow:
      2px 2px 0 white,
      2px 2px 4px gold;
}

.profile-button-container{
  display: flex;
}

.cart-icon{
  font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
  background-color: transparent;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  border: none;
  border-radius: 5px;
  color:black;
}
